---
- name: 'install dependency'
  yum:
    name: "{{ nrpe_dependency_package }}"
    state: 'present'
  when: 'nrpe_dependency_package != default([])'

- name: 'install nrpe'
  yum:
    name: 'nrpe'
    state: 'present'

- name: 'configure nrpe'
  template:
    src: 'nrpe.cfg.j2'
    dest: '/etc/nagios/nrpe.cfg'
    owner: "{{ nrpe_user }}"
    group: "{{ nrpe_group }}"
    mode: '0644'

- name: 'create nrpe_pid path'
  file:
    path: "{{ nrpe_pid_path }}"
    state: 'directory'
    owner: "{{ nrpe_user }}"
    group: "{{ nrpe_group }}"
    mode: '0775'

- name: 'enable nrpe service and ensure it is started'
  service:
    name: 'nrpe'
    enabled: 'yes'
    state: 'started'
