---
- name: 'install dependency'
  yum:
    name: "{{ nrpe_dependency_package }}"
    state: 'present'

- name: 'install nrpe'
  yum:
    name: 'nrpe'
    state: 'present'

- name: 'configure nrpe'
  template:
    src: 'nrpe.cfg.j2'
    dest: '/etc/nagios/nrpe.cfg'
    owner: "{{ nrpe_user }}"
    group: "{{ nrpe_group }}"
    mode: '0644'
  notify: 'restarting nrpe service'

- name: 'create nrpe_pid path'
  file:
    path: "{{ nrpe_pid_path }}"
    state: 'directory'
    owner: "{{ nrpe_user }}"
    group: "{{ nrpe_group }}"
    mode: '0775'

- name: 'Create overrite systemd unit configuration'
  file:
    path: "{{ nrpe_systemd_config_directory }}/nrpe.service.d"
    state: 'directory'
    owner: 'root'
    group: 'root'
    mode: '0755'

- name: 'Overwrite systemd unit nrpe configuration'
  template:
    src: 'systemd_config.j2'
    dest: "{{ nrpe_systemd_config_directory }}/nrpe.service.d/{{ nrpe_systemd_config_file }}"
    owner: 'root'
    group: 'root'
    mode: '0644'
  notify: 'restarting nrpe service'

- name: 'Add entry for pid file'
  template: 
    src: 'systemd_tmpfile.conf.j2'
    dest: "{{ nrpe_systemd_tmpfile_directory }}/{{ nrpe_systemd_tmpfile_file }}"
    owner: 'root'
    group: 'root'
    mode: '0644' 

- name: 'Stop nrpe'
  systemd: 
    name: 'nrpe'
    state: 'stop'
    daemon_reload: 'yes'
  changed_when: false
  ignore_errors: true

- name: 'Create tmpfiles for pid'
  shell: 'systemd-tmpfiles --create'
  changed_when: false
  ignore_errors: true
  notify: 'restarting nrpe service'

- name: 'enable nrpe service and ensure it is started'
  service:
    name: 'nrpe'
    enabled: 'yes'
    state: 'started'
