---
- name: 'Create tmpfiles'
  shell: 'systemd-tmpfiles --create' # noqa 305
  notify: 'restarting nrpe service'

- name: 'restarting nrpe service'
  systemd:
    name: 'nrpe'
    state: 'restarted'
    daemon_reload: 'yes'
